
@{
    ViewBag.Title = "Order_Customer_Post";
}

<h2>Order_Customer_Post</h2>

@ViewData["Name_"]
@ViewData["City_"]
@ViewData["ZipCode"]
@ViewData["Address_"]
@ViewData["Phone_"]
@ViewData["Email_"]