
@{
    ViewBag.Title = "Order_End";
    Layout = "~/Views/Shared/_Layout_ANVI.cshtml";

}


@section topCSS
{
    <link href="~/Assets/css/Order_Customer.css" rel="stylesheet" />
 
}

@section endJS
{
    <script src="~/Assets/js/Order_Customer.js"></script>
}
<div class="content">
    <div class="wrap">
        <div class="leftview">
            <div class="main">
                <div class="main__header">
                    <a href="#" class="logo">
                        <img src="~/Assets/images/otherphoto/ANVI_LOGO120.png" alt="ANVI" class="logo_image">
                    </a>
                    <!-- <h1 class="">客戶資訊</h1> -->

                </div>
                <div class="main__content">


                    <div class="section">

                        <div class="section__header os-header">
                            <!-- <svg class="icon-svg icon-svg--color-accent icon-svg--size-48 os-header__hanging-icon os-header__hanging-icon--animate" aria-hidden="true" focusable="false">
                                <use xlink:href="#checkmark">
                                    <symbol id="checkmark">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" fill="none" stroke-width="2" class="checkmark">
                                            <path class="checkmark__circle" d="M25 49c13.255 0 24-10.745 24-24S38.255 1 25 1 1 11.745 1 25s10.745 24 24 24z">

                                            </path>
                                            <path class="checkmark__check" d="M15 24.51l7.307 7.308L35.125 19"></path>
                                        </svg>
                            </symbol>
                            </use>
                            </svg> -->
                            <div class="svggo">

                            </div>

                            <div class="os-header__heading ">
                                <span class="os-order-number">訂單 #2635</span>
                                <h2 id="main-header" class="os-header__title">感謝 "@ViewData["CustomerName"]"! </h2>
                            </div>
                        </div>
                    </div>

                    <div class="section">
                        <div class="section__content">

                            <div class="content-box">
                                <div class="content-box__row text-container">

                                    <h2 id="main-header" class="heading-2 os-step__title">您的訂單已確認</h2>
                                    <div class="os-step__special-descriotion">
                                        <P>戶名:超棒棒國際有限公司 AVIN CO.,LTD</P>
                                        <P>棒棒銀行 讚讚分行(000) 0000-000-000000</P>
                                        <P></P>
                                        <P>▲匯款完成後請將姓名、銀行代碼/名稱、帳號末五碼、匯款金額、匯款日期及連絡電話email至XXXXXX@XXXX.com，並於標題註明Bank Deposit</P>
                                        <P>▲請在48小時以內完成付款，否則將自動取消訂單</P>
                                        <P>▲有問題請Instagram Inbox 或 facebook私訊小編</P>
                                    </div>
                                </div>
                            </div>



                            <div class="content-box">
                                <div class="content-box__row text-container">
                                    <h2 class="heading-2 os-step__title">Order updates</h2>
                                    <p class="os-step__descriotion">You'll get shipping and delivery update by email.</p>


\
                                </div>
                            </div>



                            <div class="content-box">
                                <div class="content-box__row content-box__row--no-border">
                                    <h2 class="heading-2 os-step__title">客戶資訊</h2>

                                </div>
                                <div class="content-box__row">

                                    <div class="section__content__colum section__content__colum--half">
                                        <div class="text-container">
                                            <h3 class="heading-3">聯絡資訊</h3>
                                            <p>@ViewData["Email"]</p>
                                            <h3 class="heading-3">運送地址</h3>
                                            <p>
                                                @ViewData["CustomerName"]
                                                <br> @ViewData["Address"]
                                                <br> @ViewData["Zipcode"] @ViewData["City"]

                                            </p>
                                            <h3 class="heading-3">運送方式</h3>
                                            <p>FREE SHIPPING</p>
                                        </div>
                                    </div>
                                    <div class="section__content__colum section__content__colum--half">
                                        <div class="text-container">
                                            <h3 class="heading-3">付款方式</h3>
                                            <Ul class="payment-method-list">
                                                <li class="payment-method-list__item">
                                                    <span class="payment-method-list__item__info">
                                                        ATM 轉帳

                                                    </span>
                                                </li>
                                            </Ul>
                                            <h3 class="heading-3">帳單地址</h3>
                                            <p>
                                                @if (ViewData["Bill_CustomerName"] != null)
                                                {
                                                    @ViewData["Bill_CustomerName"]
                                                    <br>@ViewData["Bill_Address"]
                                                    <br>@ViewData["Bill_Zipcode"]@ViewData["Bill_City"]
                                                }
                                                else
                                                {
                                                @ViewData["CustomerName"]
                                                <br> @ViewData["Address"]
                                                <br> @ViewData["Zipcode"] @ViewData["City"]

                                                }

                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>



                    </div>


                    <div class=" step__footer ">
                        <button id="continue_button " class="step__footer__continue-btn btn " type="submit " name="button ">
                            <!-- loading ICON -->
                            <span class="btn__content ">繼續購物</span>
                        </button>
                        <P class="step__footer__info">
                            Need help?
                            <a href=" ">
                                Contact us
                            </a>
                        </P>

                    </div>

                </div>
                <!-- 一堆SPAN -->
                <div class="main__footer ">
                    <div>
                        <ul class="policy-list ">
                            <!-- 做跳出頁面 -->
                            <li class="policy-list__item ">
                                <a aria-haspopup="dialog " href="Refund__policy.html ">Refund policy</a>
                            </li>

                            <li class="policy-list__item ">
                                <a aria-haspopup="dialog " href="Privacy__policy.html ">Privacy policy</a>
                            </li>

                            <li class="policy-list__item ">
                                <a aria-haspopup="dialog " href="Terms__of__service.html ">Terms of service</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>


        </div>

        <div class="color-right ">
            <div class="rightview ">
                <div class="sidebar " role="complementary ">
                    <!-- <div class="sidebar__header ">
                     <a href=" " class="logo ">
                          <h1></h1>
                     </a>
                    </div> -->
                    <div class="sidebar__content ">
                        <div id="order-summary " class="order-summary ">
                            <div class="order-summary__sections ">
                                <div class="order-summary__section order-summary__section--product-list ">
                                    <div class="order-summary__section_content ">
                                        <table class="product-table ">
                                            <!-- <thead class="producy-table__header ">
                                            <tr>
                                                <th><span>Product images</span></th>
                                                <th><span>資訊</span></th>
                                                <th><span>數量</span></th>
                                                <th><span>金額</span></th>
                                            </tr>
                                            </thead> -->


                                            <tbody>
                                                <tr class="product ">
                                                    <td class="product__image ">
                                                        <div class="product-thumbnail ">
                                                            <div class="product-thumbnail__wrapper ">
                                                                <img src="~/Assets/images/otherphoto/2_c6e0228b-9fef-409e-a0a0-1f791a63bb48_400x.jpg " class="product-thumbnail_image "></img>


                                                            </div>
                                                            <span class="product-thumbnail__quantity ">1</span>
                                                        </div>
                                                    </td>
                                                    <td class="product__description ">
                                                        <span class="product_description_name order-summary__emphasis ">
                                                            金屬面側編浩石耳環(MINI)
                                                        </span>
                                                        <span class="product_description_variant order-summary__small-text ">
                                                            Silver
                                                        </span>

                                                    </td>
                                                    <!--有一個TD序號 -->
                                                    <td class="product__price ">
                                                        <span class=" .order-summary__emphasis ">$1,185.01 TWD</span>
                                                    </td>
                                                </tr>


                                                <tr class="product ">
                                                    <td class="product__image ">
                                                        <div class="product-thumbnail ">
                                                            <div class="product-thumbnail__wrapper ">
                                                                <img src="~/Assets/images/otherphoto/2_c6e0228b-9fef-409e-a0a0-1f791a63bb48_400x.jpg " class="product-thumbnail_image "></img>


                                                            </div>
                                                            <span class="product-thumbnail__quantity ">1</span>
                                                        </div>
                                                    </td>
                                                    <td class="product__description ">
                                                        <span class="product_description_name order-summary__emphasis ">
                                                            金屬面側編浩石耳環(MINI)
                                                        </span>
                                                        <span class="product_description_variant order-summary__small-text ">
                                                            Silver
                                                        </span>

                                                    </td>
                                                    <!--有一個TD序號 -->
                                                    <td class="product__price ">
                                                        <span class=" .order-summary__emphasis ">$1,185.01 TWD</span>
                                                    </td>
                                                </tr>


                                            </tbody>

                                        </table>
                                        <!-- 查看更多 -->
                                    </div>
                                </div>



                                <div class="order-summary__section ">
                                    <table class="total-line-table ">
                                        <thead></thead>
                                        <tbody class="total-line-table__tbody ">

                                            <tr class="total-line total-line--subtotal ">
                                                <th class="total-line__name " scope="row ">小計</th>
                                                <td class="total-line__price ">
                                                    <span class="order-summary__emphasis ">$1,185.01 TWD</span>
                                                </td>
                                            </tr>
                                            <tr class="total-line total-line--shipping ">
                                                <th class="total-line__name " scope="row ">
                                                    運費

                                                </th>
                                                <td class="total-line__price ">
                                                    免費
                                                    <span class="order-summary__small-text ">

                                                    </span>
                                                </td>

                                            </tr>
                                        </tbody>
                                        <tfoot class="total-line-table__footer ">
                                            <tr class="total-line ">
                                                <th class="total-line_name payment-sue-label " scope="row ">
                                                    <span class="payment-due-label__total ">
                                                        總計

                                                    </span>
                                                    <!-- <span class="payment-due-label__taxes order-summary__small-text ">
                                                    稅:
                                                    <span>$56.43 TWD</span>
                                                        </span> -->
                                                </th>
                                                <td class="total-line__price payment-due ">

                                                    <span class="payment-due__price ">
                                                        $1,185.01 TWD

                                                    </span>
                                                </td>
                                            </tr>

                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>