
@{
    ViewBag.Title = "Order_Customer_post";
}

<h2>Order_Customer_post</h2>

名 : @ViewData["last_name"]
@ViewData["first_name"]
@ViewData["city"]
@ViewData["address"]
@ViewData["phone"]
@ViewData["address"]